<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtatton89.daryl.shinigamifanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="myapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact" />
        <activity
            android:name=".FriendsStream"
            android:label="@string/title_activity_friends" />
        <activity
            android:name=".subscriber"
            android:label="@string/title_activity_subscriber" />
        <activity
            android:name=".TwitchLogin"
            android:label="@string/featuredStreamer" />
        <activity
            android:name=".Twitch"
            android:label="@string/Twitch" />
        <activity android:name=".catCamera" />
        <activity
            android:name=".Test"
            android:label="test" />
        <activity
            android:name=".alternative"
            android:label="Alternative" />
        <activity
            android:name=".Taz_FAQs"
            android:label="TazTheTerriblyFluffy - Q and A" />
        <activity
            android:name=".Kell_faqs"
            android:label="KelldornNA - Q and A" />
        <activity
            android:name=".Brocky_QA"
            android:label="BrockyBoy Q and A" />
        <activity
            android:name=".VIP"
            android:label="VIP Personnel" />
        <activity android:name=".aldren_twitch" />
        <activity android:name=".red_clip" />
        <activity android:name=".RedTwitch" />
        <activity android:name=".TazTwitch" />
        <activity android:name=".BrockTwitch"></activity>
    </application>

</manifest>