<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtatton89.daryl.shinigamifanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dtatton89.daryl.shinigamifanapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dtatton89.daryl.shinigamifanapp.Contact"
            android:label="@string/title_activity_contact">

        </activity>
        <activity
            android:name="com.dtatton89.daryl.shinigamifanapp.FriendsStream"
            android:label="@string/title_activity_friends">

        </activity>
        <activity
            android:name="com.dtatton89.daryl.shinigamifanapp.subscriber"
            android:label="@string/title_activity_subscriber">

        </activity>
        <activity android:name="com.dtatton89.daryl.shinigamifanapp.Twitch">

        </activity>
        <activity android:name="com.dtatton89.daryl.shinigamifanapp.TwitchLogin">

        </activity>
    </application>

</manifest>